# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
*.so
*.pyd

# Virtual environment
.venv/
venv/
ENV/
env/
virtualenv/
*/activate
pip-selfcheck.json

# IDE / OS specific
.vscode/
.idea/
*.DS_Store
Thumbs.db


# Temporary files
*.tmp
*.swp